<div class="auth-container">
  <div class="left-panel">
    <router-outlet />
  </div>

  <div class="right-panel">
    <div class="overlay">
      <div class="overlay-content">
        <div class="overlay-line"></div>
        <h1 class="overlay-title">Educação e tecnologia em perfeita sintonia</h1>
        <p class="overlay-subtitle">
          O Skolaris oferece as ferramentas necessárias para uma gestão acadêmica precisa, eficiente
          e transparente para administradores e educadores.
        </p>
      </div>
    </div>
  </div>
</div>
