<div class="form-container">
  <img src="images/logo.svg" alt="Skolaris Logo" class="logo" />
  <h1 class="title">Esqueceu sua senha?</h1>
  <p class="subtitle">
    Não se preocupe, acontece. Informe seu e-mail para receber as instruções de recuperação.
  </p>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 mb-3">
        <button matButton="filled" class="w-100" [disabled]="form.invalid">
          Enviar link de recuperação
        </button>
      </div>

      <div class="col-12 text-center">
        <button matButton class="w-100" routerLink="/auth/login">
          <mat-icon>arrow_back</mat-icon>
          Voltar para o login
        </button>
      </div>
    </div>
  </form>
</div>
