.form-container {
  .logo {
    height: 64px;
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: start;
  }

  .subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
    text-align: start;
  }
}
