<div class="form-container">
  <img src="images/logo.svg" alt="Skolaris Logo" class="logo" />
  <h1 class="title">Redefinir sua senha</h1>
  <p class="subtitle">Crie uma nova senha segura para acessar sua conta.</p>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" />
          <mat-icon matPrefix>lock</mat-icon>
          <button
            matSuffix
            type="button"
            mat-icon-button
            (click)="togglePasswordVisibility()"
            tabindex="-1"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Confirme a senha</mat-label>
          <input
            matInput
            formControlName="confirmPassword"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <mat-icon matPrefix>lock</mat-icon>
          <button
            matSuffix
            type="button"
            mat-icon-button
            (click)="toggleConfirmPasswordVisibility()"
            tabindex="-1"
          >
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-12 mb-3">
        <div class="password-tips">
          <p class="tips-title">REQUISITOS DE SENHA:</p>
          <p class="tip"><mat-icon>check_circle_outline</mat-icon> Mínimo de 8 caracteres</p>
          <p class="tip"><mat-icon>check_circle_outline</mat-icon> Ao menos 1 número</p>
          <p class="tip"><mat-icon>check_circle_outline</mat-icon> As senhas devem coincidir</p>
        </div>
      </div>

      <div class="col-12">
        <button matButton="filled" class="w-100" [disabled]="form.invalid">
          Salvar nova senha
        </button>
      </div>

      <div class="col-12 text-center">
        <button matButton class="w-100" routerLink="/auth/login">
          <mat-icon>arrow_back</mat-icon>
          Voltar para o login
        </button>
      </div>
    </div>
  </form>
</div>
